img {
  width: 100%;
}

body {
  background: #E6FFE9;
}

.container {
  background-color: #fff;
}

footer {
  background-color: #fff;
}

section {
  width: 100%;
  height: 100%;
}

section:nth-child(1) {
  background-color: #FFDBC9;
}
section:nth-child(2) {
  background-color: #FFC7AF;
}
section:nth-child(3) {
  background-color: #FFDEAD;
}
section:nth-child(4) {
  background-color: #D9E5FF
}

section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1 {
  position: relative;
  color: #158b2b;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
h1:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 82px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h4 {
  background: linear-gradient(transparent 50%, #EEEEEE 50%);
}
